@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Poppins&family=Red+Hat+Display:wght@500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Poppins&family=Red+Hat+Display:wght@500;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
--Light-red: hsl(356, 100%, 66%);
--Very-light-red: hsl(355, 100%, 74%);
--Very-dark-blue: hsl(208, 49%, 24%);
--White: hsl(0, 0%, 100%);
--Grayish-blue: hsl(240, 2%, 79%);
--Very-dark-grayish-blue: hsl(207, 13%, 34%);
--Very-dark-black-blue: hsl(240, 10%, 16%);
--intro-bg-gradient: hsl(13, 100%, 72%), hsl(353, 100%, 62%);
--body-bg-gradient: to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%);
}

.drop-down-menu,img,.menu-container,.menu,a{
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

header,.showcase-two{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p{
  font-weight: 300;
}

/* ------------------------------------------------------------------------------ */

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: "Ubuntu", sans-serif;
}

h1,h2,h3{
  font-family: "Overpass", sans-serif;
}

.intro {
  padding: 40px 150px;
  background: url("./images/bg-pattern-intro-desktop.svg") center center / cover no-repeat, linear-gradient(var(--intro-bg-gradient));
  border-bottom-left-radius: 80px;
}

nav,.intro-navs{
  display: flex;
}

.logo {
  width: 110px;
  height: 40px;
  align-self: flex-start;
}

.intro-navs a {
  color: var(--White);
}

.intro-navs .logo {
  transform: translateY(-10px);
}

.drop-downs {
  z-index: 20;
}

.drop-down {
  margin-left: 100px;
}

.drop-down-head:hover,
.m-drop-down-head:hover {
  cursor: pointer;
}

.drop-down-head {
  margin-bottom: 20px;
}

.drop-down-head.clicked > img,.m-drop-down-head.clicked > img{
  transform: rotate(-180deg);
}

.drop-down-head.clicked + .drop-down-menu{
  opacity: 1;
}

.drop-down-menu {
  background: var(--White);
  opacity: 0;
  padding: 15px 30px;
  border-radius: 5px;
  animation: toDown 0.8s ease-in-out forwards;
  box-shadow: -10px 10px 100px hsla(3, 52%, 74%, 0.308), 10px 0px 100px hsla(3, 52%, 74%, 0.308);
}

.drop-down-menu a {
  color: var(--Very-dark-grayish-blue);
}

.drop-down-menu a:hover,
.m-drop-down a:hover {
  color: var(--Very-dark-black-blue);
}

.drop-down-menu li {
  margin-top: 6px;
}

.sign-up {
  align-self: flex-start;
}

.sign-up a:nth-child(1),
.get-started a:nth-child(1) {
  margin-right: 15px;
}

.sign-up a:nth-child(1),
.get-started a:nth-child(2) {
  color: var(--White);
}

.sign-up a:nth-child(2),
.get-started a:nth-child(1),.sign-up a:hover,
.get-started a:nth-child(1):hover{
  background: var(--White);
  color: var(--Light-red);
  border-radius: 20px;
  padding: 5px 15px;
}

.sign-up a:hover,
.get-started a:nth-child(1):hover {
  background: var(--Very-light-red);
  color: var(--White);
}

/* mobile */
.menu-icon,
.menu-container {
  display: none;
}

.menu-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.menu {
  background: var(--White);
  height: auto;
  width: 60%;
  position: absolute;
  z-index: 300;
  padding: 30px 40px;
  transform: translateX(200%);
  border-radius: 10px;
  box-shadow: -10px 10px 60px hsla(0, 0%, 83%, 0.5);
}

.menu.show{
  transform: translateX(0);
}

.m-drop-down-menu {
  background: hsl(240, 7%, 94%);
  padding: 10px;
  margin-top: 10px;
  transition: all 0.5s;
  border-radius: 5px;
}

.m-drop-down-menu li {
  margin-top: 10px;
}

.m-drop-down-menu li a {
  color: var(--Very-dark-grayish-blue);
}

.m-drop-down-menu li:hover a{
  color: var(--Very-dark-black-blue);
}

.menu .m-drop-down a {
  color: var(--Very-dark-blue);
}

.m-drop-down {
  width: 100%;
  height: 20px;
  overflow: hidden;
}

.m-drop-down.show{
  height: auto;
}

.m-drop-downs {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  text-align: center;
}
.m-drop-down:not(:nth-child(1)),
.m-drop-down-head:not(:nth-child(1)) {
  margin-top: 15px;
}

.menu-icon {
  cursor: pointer;
  align-self: flex-start;
}

.log-in {
  color: var(--Very-dark-blue);
  font-weight: 500;
}

.log-in:hover {
  background: linear-gradient(var(--intro-bg-gradient));
  color: var(--White);
  border-radius: 15px;
  padding: 5px 10px;
}

.divider {
  height: 0.08px;
  background: var(--Grayish-blue);
  width: 100%;
  margin-top: 30px;
}

.m-sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.signUp {
  padding: 5px 10px;
  background: linear-gradient(var(--intro-bg-gradient));
  color: var(--White);
  font-weight: 500;
  border-radius: 15px;
  margin-top: 10px;
  transition: 0.5s ease;
}

.signUp:hover {
  background: linear-gradient(
    to right,
    rgb(236, 221, 221),
    rgba(236, 221, 221, 0.805)
  );
  color: var(--Very-dark-blue);
  font-weight: 500;
}

/* intro-info */

.info-one p, .info-two p{
  color: var(--Very-dark-grayish-blue);
}
.intro-info {
  z-index: -2;
  transform: translateY(-70px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-info h1 {
  font-size: 2.5rem;
  color: var(--White);
}

.intro-info p {
  font-size: 1rem;
  color: whitesmoke;
  margin: 20px auto;
}

.get-started a:nth-child(2) {
  border-radius: 20px;
  border: 0.5px solid var(--White);
  padding: 5px 15px;
}

.get-started a:nth-child(2):hover {
  background: var(--White);
  color: var(--Light-red);
}

/* showcase */

/* showcase-one */
.showcase-one {
  display: flex;
  flex-direction: column;
}

.showcase-title {
  display: flex;
  align-self: center;
  margin: 60px auto;
  font-size: 2rem;
  color: var(--Very-dark-blue);
}

.showcase-info {
  display: flex;
  padding-left: 150px;
  align-items: center;
}

.showcase-info img {
  width: 50%;
  height: 50%;
  transform: translateX(200px);
}

.info-container {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}

.info-one {
  margin-bottom: 60px;
}

.info-one h2,
.info-two h2 {
  font-size: 2rem;
  color: var(--Very-dark-blue);
  margin-bottom: 20px;
}

#illustration-editor-mobile,
#illustration-laptop-mobile {
  display: none;
}

/* showcase-two */

.showcase-two {
  padding-left: 100px;
  background: url("./images/bg-pattern-circles.svg") bottom left / 60% no-repeat, hsl(238, 20%, 28%);
  border-radius: 0 100px 0 100px;
  height: 430px;
  margin-top: 60px;
  margin-bottom: 120px;
}

.showcase-two img {
  transform: translateY(20px);
}

.info {
  margin: 0px 80px;
  padding: 0px 80px;
  color: var(--White);
}

.info h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* showcase-three */
.showcase-three {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.showcase-three img {
  transform: translateX(-300px);
}

/* footer */

footer{
  padding: 0 150px;
  background: var(--Very-dark-black-blue);
  border-top-right-radius: 100px;
}

.blogr-details {
  display: flex;
  justify-content: space-between;
  padding: 70px 0px 100px 0px;
  height: 100%;
  width: 100%;
}

.blogr-details img {
  height: 40px;
}

.footer-links h3 {
  color: var(--White);
  font-weight: 600;
  margin-bottom: 20px;
}

.footer-links li {
  margin-top: 10px;
}

.footer-links a {
  color: hsl(240, 2%, 79%);
}

.footer-links a:hover,
.drop-down-head a:hover {
  text-decoration: underline;
}

/* Media query */
@media (max-width: 992px) {
  header {
    margin-bottom: 120px;
  }

  /* hamburger */
  #hamburger-icon,
  #illustration-editor-mobile,
  #illustration-laptop-mobile,
  .menu-container {
    display: block;
  }

  .drop-downs,
  .sign-up,
  #close-icon,
  #illustration-editor-desktop,
  #illustration-laptop-desktop {
    display: none;
  }

  .menu-icon {
    display: block;
    align-self: flex-start;
  }

  .menu-icon img,
  .drop-down-head img {
    width: 100%;
    height: 100%;
  }

  .menu {
    width: 100%;
    top: -270px;
  }

  /* intro */

  .intro {
    padding: 40px 30px;
    position: relative;
  }

  .intro-info {
    text-align: center;
  }

  .get-started {
    margin-top: 50px;
  }

  .intro-info h1 {
    font-size: 33px;
  }

  /* showcase */
  .showcase {
    text-align: center;
  }

  .showcase-info {
    flex-direction: column-reverse;
    padding: 0px 30px;
  }

  .showcase-info img {
    transform: translateX(0);
    width: 90%;
    height: 90%;
    margin-bottom: 20px;
  }

  .showcase-one {
    margin: 0px 0px 300px 0px;
  }

  .info-container {
    margin: 0;
  }

  #phones {
    width: 400px;
    height: 100%;
  }

  .showcase-two {
    flex-direction: column;
    padding-left: 0;
    height: auto;
    background-position: top center;
    background-size: 150%;
  }

  .showcase-two img {
    transform: translateY(-120px);
  }

  .showcase-two .info {
    transform: translateY(-120px);
    margin: 0;
    padding: 0 25px;
  }

  .showcase-three {
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 100px;
    padding: 0px 30px;
  }

  .showcase-three img {
    transform: translateX(0);
    margin-bottom: 70px;
    width: 100%;
    height: 100%;
  }

  /* footer */
  footer{
    padding: 0 150px;
  }

  .blogr-details {
    flex-direction: column;
    text-align: center;
    padding: 70px 0;
  }

  .blogr-details img {
    width: 100px;
  }

  .footer-links {
    margin-top: 40px;
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  nav .drop-down {
    margin-left: 50px;
  }

  .intro {
    padding: 40px;
  }

  .showcase-info {
    padding-left: 40px;
  }

  .showcase-two {
    flex-direction: column;
    padding-left: 0;
    height: auto;
    background-position: top center;
    background-size: 150%;
    margin-top: 200px;
  }

  .showcase-two img {
    transform: translateY(-120px);
  }

  .showcase-two .info {
    transform: translateY(-120px);
    margin: 0;
    padding: 0 200px;
    text-align: center;
  }

  #illustration-editor-desktop {
    height: 60%;
    width: 60%;
  }
  .showcase-three {
    justify-content: center;
  }

  .showcase-three img {
    transform: translateX(-250px);
    height: 60%;
    width: 60%;
  }

  footer{
    padding: 0 40px;
  }
}
